.purplebody {
    background: #000;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: CharriotDeluxe;
    color: #D4CEFE;
    background: #000;
    cursor:url(../images/pointer.png), pointer;
}

.wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.wrapper:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.purplebox {
    display: inline-block;
    vertical-align: middle;
    background: #8279BA;
    border-style: solid;
    border-width: 4px;
    border-left-color: #99B4E1;
    border-top-color: #99B4E1;
    border-right-color: #4A5B89;
    border-bottom-color: #4A5B89;
    font-family: CharriotDeluxe;
    color: #D4CEFE;
    font-size: 15px;
    letter-spacing: -1px;
    margin-top: -150px;
}

.purplebox-inputfield {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.purplebox-buttonfield {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.purplebox-title {
    font-family: CharriotDeluxe;
    font-size: 16px;
    font-weight: normal;
    color: #DAD6F7;
    display: block;
    text-align: center;
    text-shadow: 2px 3px #423F5E;
    margin-bottom: 20px;
    margin-top: 10px;
}

.purplebox-label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 20px;
}

.purplebody input {
    display: inline;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-left-color: #485C8E;
    border-top-color: #485C8E;
    border-right-color: #9CABE4;
    border-bottom-color: #9CABE4;
    background-color: #6A72A3;
    font-family: CharriotDeluxe;
    color: #DDD;
    font-size: 15px;
    padding-left: 3px;
    letter-spacing: -1px;
    cursor:url(../images/pointer.png), pointer;
    outline-style: none;
}

.purplebody input::selection {
    background: #000;
    color: #FFF;
}

.purplebody input::-moz-selection {
    background: #000;
    color: #FFF;
}

input[type=radio].purplebox-radiobutton {
    position:absolute;
    z-index:-1000;
    top:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=radio].purplebox-radiobutton + label.purplebox-radiobutton-label {
    padding-left:15px;
    padding-right: 15px;
    height:10px; 
    display:inline-block;
    line-height:10px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
}

input[type=radio].purplebox-radiobutton:checked + label.purplebox-radiobutton-label {
    background-position: 0 -10px;
}

label.purplebox-radiobutton-label {
    background-image:url(../images/imgRadioButton.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:url(../images/pointer.png), pointer;
}

input[type=checkbox].purplebox-checkbox {
    position:absolute;
    z-index:-1000;
    top:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].purplebox-checkbox + label.purplebox-checkbox-label {
    padding-left:15px;
    padding-right: 15px;
    height:10px; 
    display:inline-block;
    line-height:10px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
}

input[type=checkbox].purplebox-checkbox:checked + label.purplebox-checkbox-label {
    background-position: 0 -10px;
}

label.purplebox-checkbox-label {
    background-image:url(../images/imgCheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:url(../images/pointer.png), pointer;
}

.purplebox-select {
    border-style: solid;
    border-width: 2px;
    border-left-color: #99B4E1;
    border-top-color: #99B4E1;
    border-right-color: #4A5B89;
    border-bottom-color: #4A5B89;
    font-family: CharriotDeluxe;
    color: #D4CEFE;
    background: #8279BA;
       font-size: 15px;
       letter-spacing: -1px;
       outline-style: none;
       height: 25px;
       padding-right: 20px;
       cursor:url(../images/pointer.png), pointer;
       -moz-appearance: none;
       -webkit-appearance: none;
}

.purplebox-select-arrow {
    display: inline-block;
    position: relative;
    vertical-align: middle;
       cursor:url(../images/pointer.png), pointer;
       background: #8279BA;
}

.purplebox-select-arrow:before, .purplebox-select-arrow:after {
    content: "";
    pointer-events: none;
    position: absolute;
}

.purplebox-select-arrow:before {
    bottom: 0;
    right:2px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-color: #8279BA;
    background: url(../images/imgSelectArrow.png) no-repeat right center #8279BA;
}

.purplebox-button {
    outline-style: none;
    background: #8279BA;
    border-style: solid;
    border-width: 2px;
    border-left-color: #99B4E1;
    border-top-color: #99B4E1;
    border-right-color: #4A5B89;
    border-bottom-color: #4A5B89;
    font-family: CharriotDeluxe;
    color: #D4CEFE;
    font-size: 15px;
    letter-spacing: -1px;
    cursor:url(../images/pointer.png), pointer;
}

.purplebox-button:active {
    border-style: solid;
    border-width: 2px;
    border-left-color: #485C8E;
    border-top-color: #485C8E;
    border-right-color: #9CABE4;
    border-bottom-color: #9CABE4;
    background-color: #6A72A3;
    font-family: CharriotDeluxe;
    font-size: 15px;
    cursor:url(../images/pointer.png), pointer;
}